#dependencies
.vscode
node_modules/
cypress/videos/
cypress/screenshots/
cypress/reports/

# Prevent Cypress files in root (use Automation Framework instead)
/cypress/
/cypress.config.js
/cypress.config.ts

# Exclude reports from Automation Framework
Automation Framework/cypress/reports/